html, body, main {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
}
main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image: url(./img/main.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}
a {
  &:disabled {
    cursor: default;
  }
}
.main-img {
  display: block;
  position: relative;
  /* width: 100%; */
  width: 1024px;
  pointer-events: none;
}
.portfolio {
  position: absolute;
  transform: translate(0, 155%);
}
.btns {
  display: flex;
  position: absolute;
  /* margin-top: 50%; */
  /* margin-left: 50%; */
  /* transform: translate(-45%, 180%); */
  transform: translate(0, 290%);
}
.btn {
  display: block;
  width: 90px;
  /* width: 10vw; */
  height: 90px;
  margin-right: 10px;
  position: relative;
  // background-color: rgba(#ffcc66, 0.5);
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.1s ease-out;
  }
  &:hover:after {
    opacity: 0.5;
  }
}
.btn-portfolio {
  width: 380px;
  height: 100px;
  // background-color: rgba(#ffcc66, 0.5);
  &:after {
    background-image: url("/images/btn_portfolio_color.png")
  }
}
.btn-twitter {
  &:after {
    background-image: url("/images/btn_tw_color.png")
  }
}
.btn-facebook {
  &:after {
    background-image: url("/images/btn_fb_color.png")
  }
}
.btn-instagram {
  &:after {
    background-image: url("/images/btn_insta_color.png")
  }
}
.btn-linkedin {
}
.btn-note {
  &:after {
    background-image: url("/images/btn_note_color.png")
  }
}
.btn-youtube {
  &:after {
    background-image: url("/images/btn_yt_color.png")
  }
}
