main
  div.portfolio
    a.btn.btn-portfolio[href="./portfolio/"]
  div.btns
    a.btn.btn-twitter[href="https://twitter.com/" target="_blank"]
    a.btn.btn-facebook[href="https://facebook.com" target="_blank"]
    a.btn.btn-instagram[href="https://www.instagram.com" target="_blank"]
    a.btn.btn-linkedin[disabled=true href="#"]
    a.btn.btn-note[href="https://note.mu/" target="_blank"]
    a.btn.btn-youtube[href="https://youtube.com" target="_blank"]
  picture
    source[media="(max-width: 799px)" srcset="/images/main_sp.png"]
    source[media="(min-width: 800px)" srcset="/images/main.png"]
    img.main-img[src="/images/main.png"]
